langchain
openai
httpx
langchain-openai
langchain-community
python-dotenv
streamlit
langserve
uvicorn
sse_starlette
faiss-cpu
pypdf
PyPDF2
PyMuPDF
bs4
arxiv
wikipedia
langchainhub
groq
langchain-groq
langchain-objectbox
langchain-google-genai